<h1>Add An Employee</h1>

{{#if successMessage}}
    <h2 style="color: green;">{{successMessage}}</h2>
{{/if}}

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}

<section class="card">
    <form id="employeeForm" action="/employees" method="POST">
        <label>
            First Name:
            <input type="text" id="firstName" name="firstName" form="employeeForm" value="{{formData.firstName}}">
        </label>
        <label>
            Last Name:
            <input type="text" id="lastName" name="lastName" form="employeeForm" value="{{formData.lastName}}">
        </label>
        <label>
            Department:
            <select id="department" name="department" form="employeeForm">
                <option value="">Select Department</option>
                <option value="Engineering" {{#if (eq formData.department 'Engineering')}}selected{{/if}}>Engineering</option>
                <option value="Human Resources" {{#if (eq formData.department 'Human Resources')}}selected{{/if}}>Human Resources</option>
                <option value="Sales" {{#if (eq formData.department 'Sales')}}selected{{/if}}>Sales</option>
                <option value="Marketing" {{#if (eq formData.department 'Marketing')}}selected{{/if}}>Marketing</option>
                <option value="Finance" {{#if (eq formData.department 'Finance')}}selected{{/if}}>Finance</option>
            </select>
        </label>
        <label>
            Start Date:
            <input type="date" id="startDate" name="startDate" form="employeeForm" value="{{formData.startDate}}">
        </label>
        <label>
            Job Title:
            <input type="text" id="jobTitle" name="jobTitle" form="employeeForm" value="{{formData.jobTitle}}">
        </label>
        <label>
            Salary:
            <input type="number" id="salary" name="salary" form="employeeForm" min="0" max="1000000" value="{{formData.salary}}">
        </label>
        <button type="submit">Add Employee</button>
        <a href="/">Back</a>
    </form>
</section>